mixin video(video)
    div.video-mixin
        a(href=`/videos/${video.id}`)
            div.video-mixin__thumb
        div.video-mixin__data
            a(href=`/videos/${video.id}`).video-mixin__title=video.title
            div.video-mixin__meta
                if video.owner.username
                    a(href=`/users/${video.owner._id}`) #{video.owner.username} - 
                else
                    a(href=`/users/${user._id}`) #{user.username} - 
                span #{video.meta.views} #{video.meta.views<2? "view":"views"}