extends base.pug
block content
    div#videoContainer
        video(src=`/${video.fileUrl}`)
        div#videoController
            button#play Play
            button#mute Mute
            input(type="range", value="0.5", step="0.1", min="0", max="1")#volume
            div
                span#currenTime 00:00
                span  | 
                span#totalTime 00:00
            div
                input(type="range", step="0.1", min=0)#timeline
            div
                button#fullScreen Enter Fullscreen
    div
        p=video.description
        span=`Created by `
        a(href=`/users/${video.owner._id}`)=video.owner.username
        br
        small=video.createdAt
    if String(video.owner._id) === loggedInBy._id
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    script(src="/static/js/videoPlayer.js")