extends base.pug
block content
    div#videoContainer
        video(src=`/${video.fileUrl}`)
        div#videoController
            i#play.fas.fa-play
            span#currenTime 00:00
            span  / 
            span#totalTime 00:00
            input(type="range", step="0.1", min=0)#timeline
            i#mute.fas.fa-volume-up
            input(type="range", value="0.5", step="0.1", min="0", max="1")#volume
            button#fullScreen Enter Fullscreen
    div
    div
        h1=video.title
        p=video.description
        div.videoCreator
            span=`Created by `
            a(href=`/users/${video.owner._id}`)=video.owner.username
        small=video.createdAt
    if String(video.owner._id) === loggedInBy._id
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    script(src="/static/js/videoPlayer.js")