header
    a(href="/").header__logo
        i.fab.fa-youtube
    form(method="GET" action="/search").search-form
        input(placeholder="Search by title", name="keyword", type="text" value=`${keyword? keyword:""}`).search-form__input
        button.search-form__button
            i.fas.fa-search
    nav
        ul
            if !loggedIn
                li
                    a(href="/login").header__btn Login
                li
                    a(href="/join").header__btn Join
            else
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout") Logout
                li
                    a(href="/videos/upload") Upload Video
                li
                    a(href=`/users/${loggedInBy._id}` data-name=loggedInBy.username data-id=loggedInBy._id)#profile
                        if loggedInBy.avatarUrl
                            img(src=`/${loggedInBy.avatarUrl}` crossorigin onerror=`this.src="${loggedInBy.avatarUrl}"`).header__avatar
                        else
                            span #{loggedInBy.username}
div#header-box